.app-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    max-width: 50%;
    min-width: 400px;
    /*border: 3px solid lime;*/
}

.header-container {
    padding: 1rem;
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    /*border: 3px solid red;*/
}

.header-container h1 {
    color: #F9F4DA;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;

    /*border: 3px solid green;*/
}

.header-container span {
    color: #8E8E8E;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 100;

    /*border: 3px solid blue;*/
}

.status-section {
    padding: 1rem;
    width: 80%;
    min-width: 300px;
    max-width: 1400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #10A95B;
    color: #F9F4DA;
    border-radius: 8px;
    gap: 0.5rem;

    /*border: 3px solid purple;*/
}

.status-section .status-title {
    font-weight: 400;
    font-size: 1.5rem;
}

.status-section .status-subtitle {
    font-weight: 200;
    font-size: 1.2rem;
}

.languages-section {
    padding: 1rem;
    width: 90%;

    /*border: 3px solid purple;*/
}

.languages-section .list-wrapper {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.languages-section .list-item {
    padding: 0.5rem;
    border-radius: 3px;
}

.mystery-word-section {
    padding: 1rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.mystery-word-section .letter-block {
    width: 50px;
    height: 50px;
    background-color: #323232;
    color: #F9F4DA;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 3px;
    border-bottom: 3px solid #F9F4DA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard-section {
    padding: 1rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.keyboard-section .keyboard-letter-btn {
    background-color: #FCBA29;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    border: 1px solid #D7D7D7;
    font-weight: 600;
    font-size: 1.25rem;
    cursor: pointer;
}

.keyboard-section .keyboard-letter-btn.correct {
    background-color: #10A95B;
}

.keyboard-section .keyboard-letter-btn.incorrect {
    background-color: #EC5D49;
}

.footer-section {
    padding: 1rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-section .new-game-btn {
    background-color: #11B5E5;
    border: 1px solid #D7D7D7;
    padding: 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.25rem;
    width: 50%;
    min-width: 225px;

}
